.f {
    background-color: rgb(25, 26, 25);
    display: flex;
    padding: 15px;
    
    justify-content: space-between;
    color: aliceblue;
}

@media screen and (max-width: 480px) {
    .f {
        flex-direction: column;
        justify-content: center;
        align-items: center;
    }
}